<main class="flex flex-col justify-center items-center w-screen">
    <div class="flex lg:flex-row lg:justify-between lg:items-start flex-col justify-center items-center flex-grow lg:w-[75%] md:w-[75%] w-[80%] m-4 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-transparent to-super-light-pink rounded-lg pt-5 pb-5 shadow-lg"> 
        <img class="lg:w-[55%] md:w-[70%] w-[80%] m-5 border-light-pink border-double border-[5px] rounded-xl" src="/assets/me!.png" alt="image of me aka rosa rivera <3">
        <div class="lg:w-[45%] md:w-[70%] w-[80%] m-5 bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text">
            <h1 class="text-5xl">hi, i'm rosa!!</h1>
            <p class="font-thin italic text-base mt-3"><i class="bi bi-postcard-heart mr-2"></i>[roe-zah]</p>
            <p class="text-base mt-3">i am a senior undergraduate latina student at CUNY Hunter College with an interest in Computer Science. i love the works of software engineering, but have been interested in full-end development.</p>
            <p class="text-base mt-3">when i'm not working or programming, i love getting together with friends, gaming, and bedazzling everything i touch.</p>
            <p class="text-base mt-3">i'm committed to being the best version of myself everyday, whether it be as a engineer or person, and i'm open to any
                exciting opportunities! <a class="hover:text-[#7871A4] hover:underline" href="/contact">connect with me here.</a> ♡</p>
        </div>
    </div>

    <div></div>
</main>